<div id="container">
<h1>About Us</h1>

<p>Are you a felony? unemployed? Underemployed? Below the poverty line? Homeless?</p>
<p>No worries! Life happens, All of us make mistakes. Don't let your pass define you.</p>

<br>

<p>Being a felone doesn't make you a bad worker!</p>
<p>Falling below the poverty line doesn't mean you should be abandon!</p>
<p>And being homeless doesn't mean you should be left in the dark!</p>

<p>Here at SecondStart we provide oppurtunities to those in need. In areas of housing, meals, supplies as well as providing job oppurtunities.</p>
<p>We know that no matter your past mistakes or endevoiurs your human and you deserve the oppurtunity for a normal life.</p>

<h2>Browse our site take advantage and get your SecondStart</h2>

<h3>Also get access to our free guide for felones to help you get employed again.</h3>

  <div id="guideDiv">
    <h3>THE PAST IS BEHIND YOU</h3>
    <h2>NOW ITS TIME TO GET TO WORK</h2>
    <p>Finding a Job as a Felon Isn't Impossible and We're Here to Help.</p>
    <button id="guideButton"><a href="https://jobsforfelonshub.com/jobs-for-felons-free-guide/">GIVE ME THE GUIDE</a></button>
  </div>
</div>
