<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>



    <div class="row">


        <div class="column left">
            <h1 id="concern">Concerns?</h1>
            <form class="concerns">
                <p id="finalName">Name</p>
                <textarea id="text"></textarea>

                <p id="finalEmail">Email</p>
                <textarea id="text"></textarea>

                <p id="finalMessage">Message</p>
                <textarea id="message"></textarea>
                <br />

                <button id="sumbitButton"><a href="/recieved"></a>SUMBIT</button>
            </form>

        </div>

        <div class="column middle">

            <h1>Contact Us</h1>
            <h1>MEET OUR CREATORS!</h1>
            <p id="img_cont">
                <a href="https://github.com/Scholfieldc84"><img src="/assets/christina.jpg" /></a>
                <a href="https://github.com/ddickson634"><img src="/assets/dolorian.jpg" /></a>
                <a href="https://github.com/Saigal-Maruvathu"><img src="/assets/saigal.jpg" /></a>
                <a href="https://github.com/Campbell1695"><img src="/assets/sharif.jpg" /></a>
            </p>
        </div>

        <div class="column right">
            <h1 id="general">General</h1>

            <p id="number">(732)-663-7878</p>
            <p id="street">2101 Cecil B Moore Ave.</p>
            <p id="cityStateZip">Philadelphia, PA 19129</p>
            <p id="country">United States</p>
        </div>
    </div>
</body>