<div id="container">
<h1>Contact Us</h1>

<h1>MEET OUR CREATORS!</h1>

  <a href="https://github.com/Scholfieldc84">
    <img class="pic" src="/assets/christina.jpg" style ="width:175px; height:175px;">
  </a>

  <a href="https://github.com/ddickson634">
    <img class="pic" src="/assets/dolorian.jpg" style ="width:175px; height:175px;">
  </a>

  <a href="https://github.com/Saigal-Maruvathu">
    <img class="pic" src="/assets/saigal.jpg" style ="width:175px; height:175px;">
  </a>

  <a href="https://github.com/Campbell1695">
    <img class="pic" src="/assets/sharif.jpg" style ="width:175px; height:175px;">
  </a>

  <div id="mainContact">
    <h1 id="socialMedia">Social Media</h1>

    <img id="facebookPic"src="/assets/facebook.png" style ="width:50px;">
    <p id="facebook">/secondStart</p>

    <img id="instagramPic" src="/assets/instagram.png"style ="width:45px;">
    <p id="instagram">@secondStart</p>

    <img id="snapPic" src="/assets/snapchat.png"style ="width:40px;">
    <p id="snapchat">snapSecondStart</p>

    <h1 id="general">General</h1>

    <p id="number">(732)-663-7878</p>
    <p id="street">2101 Cecil B Moore Ave.</p>
    <p id="cityStateZip">Philadelphia, PA 19129</p>
    <p id="country">United States</p>

    <h1 id="concern">Concerns?</h1>

    <p id="finalName">Name</p>
    <textarea id="nameSection"></textarea>

    <p id="finalEmail">Email</p>
    <textarea id="emailSection"></textarea>

    <p id="finalMessage">Message</p>
    <textarea id="messageSection" ></textarea>

    <button id="sumbitButton"><a href="/recieved"></a>SUMBIT</button>
  </div>
