<h1>Jobs Posted</h1>

<body>

  <h4><% @posts.each do |post| %></h4>
    <div id="alljobs" style="background-color:lightblue ">
    <p>
        <%= post.center.name %>
    </p>

    <p>
        <%= post.title %>
    </p>

    <p>
        <%= post.content %>

    </p>

    <p>
        <%=post.updated_at.strftime("%B %d, %Y") %>
    </p>

    <br>

    <% end %>

</body>
