/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*Styling for center page*/
 .modal
 {
   background-color: lightblue;
   width: 250px;
   height: 150px;
   text-align: center;
   position: absolute;
   visibility: hidden;
 }
 #xBtn
 {
   position: absolute;
   top: 5px;
   left: 215px;
  }
 /*Styling for about page*/
#container
{
  text-align: center;
}
#guideDiv
{
  width: 550px;
  height: 200px;
  background-color: lightblue;
  margin: auto;
}
#guideButton
{
  border-radius: 15px
}

 /*Styling for contact page*/
 #mainContact
 {
   width: 1325px;
   height: 600px;
   top: 400px;
   left: 0px;
   background-color: lightblue;
   position: absolute;
 }
 #socialMedia
{
  font-size: 40px;
  top: 0px;
  left: 100px;
  color: darkred;
  position: absolute;
}
#general
{
  font-size: 40px;
  top: 0px;
  left: 575.205px;
  color: darkred;
  position: absolute;
}
#concern
{
  font-size: 40px;
  top: 0px;
  left: 1042.78px;
  color: darkred;
  position: absolute;
}
#facebookPic
{
  top: 75px;
  left: 50px;
  position: absolute;
}
#facebook
{
  font-size: 25px;
  top: 67.5px;
  left: 105px;
  position: absolute;
}
#instagramPic
{
  top: 120px;
  left: 55px;
  position: absolute;
}
#instagram
{
  font-size: 25px;
  top: 115px;
  left: 105px;
  position: absolute;
}
#snapPic
{
  top: 220px;
  left: 60px;
  position: absolute;
}
#snapchat
{
  font-size: 25px;
  top: 215px;
  left: 105px;
  position: absolute;
}
#number
{
  font-size: 25px;
  top: 67.5px;
  left: 565px;
  position: absolute;
}
#street
{
  font-size: 25px;
  top: 105px;
  left: 556px;
  position: absolute;
}
#cityStateZip
{
  font-size: 25px;
  top: 145px;
  left: 545px;
  position: absolute;
}
#country
{
  font-size: 25px;
  top: 185px;
  left: 585px;
  position: absolute;
}
#finalName
{
  font-size: 20px;
  top: 65px;
  left: 1050px;
  position: absolute;
}
#finalEmail
{
  font-size: 20px;
  top: 130px;
  left: 1050px;
  position: absolute;
}
#finalMessage
{
  font-size: 20px;
  top: 195px;
  left: 1050px;
  position: absolute;
}
#nameSection
{
  font-size: 20px;
  top: 65px;
  left: 1050px;
  position: absolute;
}
#emailSection
{
  font-size: 20px;
  top: 130px;
  left: 1050px;
  position: absolute;
}
#messageSection
{
  font-size: 20px;
  top: 195px;
  left: 1050px;
  position: absolute;
}
#sumbitButton
{
  font-size: 20px;
  top: 195px;
  left: 1050px;
  position: absolute;
}
.pic
{
  border-radius: 125px;
  padding: 25px;
}
